.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #e73232;
    color: white;
    padding: 0.15rem; 
    margin: 0.1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }
  